*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: Montserrat;
}

body{
   position: relative; 
    
}
.body{
    padding: 10%;
}

code h1 {
    font-size: 30px;
}
code h2{
    font-size: 12px;
}
h1{
    font-size: 50px;
}
a:link, a:active{
    text-decoration: none;
}
.nav-bar{
    padding-top : 10px;
    /* width: 10%; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color:white;
    float: left;
}
.main{
    color: white;
    height: 100vh;
    background: url('images/background.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 25% 20%;
    width: 100vw;
    float: left;
    
}
#contact{
    margin-top: 20px;
    border: 1px solid rgb(73, 73, 248);
    border-radius: 5px;
    padding : 5px;
    font-size: 15px;
    color: white;
    background-color:  transparent;
}
#contact:hover{
    font-size: 20px;
    padding: 8px;
    box-shadow: 1px 1px 2px rgb(73, 73, 248) ;
    
}
.list-unstyled{
    list-style-type: none;
    margin-left: 15%;
    
    
}
.fa{
    color:rgba(243, 123, 179);
    /* text-shadow: 1px 1px 2px blue; */
}

li.nav{
    margin: 0px 10px;
    float: left;
    font-size: 20px;
}
li.nav:hover{
    margin: 0px 5px;
   
}
.social-icon{
    list-style-type: none;
    margin-left: 100px;
    
}
li.social{
    margin: 5px 3px;
    float: left;
    font-size: 12px;
}
.section{
    margin: 10px 30px;
}
.tag{
    font-size: 20px;
    font-family: Dancing Script;
}
.container{
    width: 100vw;
    height: auto;
    overflow-y: scroll;
}
.images{
    width: 40%;
    height: auto;
    margin: 10px ;
    border: 2px solid blue;
    box-shadow: 5px 5px 5px rgba(243, 123, 179);
}
.images:hover{
    width: 95%;
    margin: 5% 2.5%;
}
.images:focus{
    width: 95%;
    margin: 5% 2.5%;
}
.imgContainer{
    margin-top: 15px;
    border: 5px solid black;
    
}
.hover{
    border: 1px solid black;
    padding: 5px 20%;
    margin: 5px;
}
.skill{
    margin-top: 5px;
    border: 1px solid black;
}